@import: "fonts.css";
@import: "partials/navbar.css";
@import: "partials/banner.css";
@import: "partials/cta.css";
@import: "partials/form.css";


body {
border: 0px;
padding: 0px;
margin: 0px;
background-color: #81a387;
}
