@import: "fonts.css";


body {
border: 0px;
padding: 0px;
margin: 0px;
background-color: #35556d;
}

#bg-color {
  background-color: #f0e7d4;
}

/* Main navbar */
.navbar {
  font-family: "noe";
  background-color: #35556d;
  color: #F8CBBB;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  margin: 0px;
}

#font-color {
  color: #35556d;
}

.navbar h1 {
  font-size: 30px;
}

/* Banner */
.banner {
  text-align: center;
  height: calc(50vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #35556d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "sofiapro";
}
.banner h1 {
  font-family: "sofiapro";
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
}

.banner p {
  font-family: "sofiapro";
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 30px;
  font-color: #f0e7d4;
  padding: 5px;
}

h1.green {
  font-family: "sofiapro";
  color: #81a387;
}

h1.beige {
  font-family: "sofiapro";
  color: #f0e7d4;
}

/* Call to Action*/
.cta {
  height: 50vh;
  font-family: "sofiapro";
  background-color: #81a387;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.cta p {
  font-family: "sofiapro";
  font-size: 16px;
  color: #35556d;
  padding: 2em;
  padding-bottom: .5em;
  text-align: center;
}

/*.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #F4EACE;
  border: 1px solid #F4EACE;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  text-decoration: none;
}*/

/*.button:hover {
  opacity: 1;
  text-decoration: none;
  color: #F4EACE;
}*/

.button {
  font-size: 24px;
  color: #81a387;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background: #35556d;
  transition: background 0.3s ease;
  text-decoration: none;
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
  background: #35556d;
  text-decoration: none;
  color: #81a387;
}

/* Form */
.form {
  background-color: f0e7d4;
  font-family: "sofiapro";
  align-items: center;
  justify-content: center;
  text-align: center;
  font-color: #35556d;
  padding-left: 1em;
  padding-right: 1em;
}

.form h1 {
  font-family: "sofiapro";
  font-size: 24px;
  color: #35556d;
  text-align: center;
}

.form p {
  font-family: "sofiapro";
  font-size: 16px;
  color: #35556d;
  padding: 1em;
  text-align: center;
}

.pure-input-1 {
  margin: 5px;
}

.pure-form {
  display: inline-block;
}

/*media queries*/

@media screen and (min-width: 570px) {
  .navbar {
    height: 70px;
  }

  .navbar h1 {
    font-size: 56px;
  }

  .banner {
    height: calc(70vh-70px);
  }

  .banner h1 {
    font-size: 30px;
    padding: 0px;
  }

  .cta p {
    font-family: "sofiapro";
    font-size: 24px;
    padding: 3em;
  }

/*  .button {
    border: 1.5px solid #F4EACE;
    padding: 15px 25px;
    font-size: 24px;
  }*/

  .form {
    margin: 10em;
  }

  .form h1 {
    font-size: 40px;
    padding-top: 0px;
  }

  .form p {
  font-size: 24px;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    height: 80px;
  }

  .navbar h1 {
    font-size: 64px;
  }

  .banner h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 0px;
  }

  .cta p {
    font-family: "sofiapro";
    font-size: 32px;
    padding: 1em;
  }

  .form {
    padding-left: 10em;
    padding-right: 10em;
  }

  .form h1 {
    font-size: 56px;
  }

  .form p {
    font-size: 40px;
  }
}

@media screen and (min-width: 64em) {
}

@media screen and (min-width: 80em) {

}
