@font-face {
  font-family: sofiapro;
  src: url(../fonts/sofiaproregular.otf) format("opentype");
}

div {
  font-family: sofiapro;
}

@font-face {
  font-family: noe;
  src: url(../fonts/noedisplay-bold.otf) format("opentype");
}

div {
  font-family: noe;
}

@font-face {
    font-family: 'horsham_serialregular';
    src: url('horsham_serial-regular-webfont.woff2') format('woff2'),
         url('horsham_serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: caslon;
  src: url(../fonts/caslongraphiqueef.ttf) format("truetype");
}
