.banner {
  text-align: center;
  height: calc(50vh-50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #35556d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "sofiapro";
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
.banner h1 {
  font-family: "sofiapro";
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.banner p {
  font-family: "sofiapro";
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 30px;
  font-color: #f0e7d4;
  padding: 5px;
}

h1.green {
  font-family: "sofiapro";
  color: #81a387;
}

h1.beige {
  font-family: "sofiapro";
  color: #F4EACE;
}
