/* Main navbar */
.navbar {
  font-family: "noe";
  background-color: #35556d;
  color: #F8CBBB;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  margin: 0px;
}

.navbar h1 {
  font-size: 30px;
}
